body {
    font-family: Gabriola;
    background-color: darkslategrey;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background: linear-gradient(15deg, #00feba, #555555);
    box-shadow: 0 2px 5px rgba(10, 2, 4, 5.3);
}

h1 {
    font-size: 60px;
    color: cyan;
    margin-bottom: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

p {
    font-size: 25px;
    text-align: center;
    margin-top: -10px;
    font-weight: bolder;
    color: cyan;
}

.option {
    flex-basis: 45%;
    margin-bottom: 20px;
    background-color: cyan;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: Gabriola;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.option:hover {
    background-color: #d0d0d0;
}

#submit {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

#submit:hover {
    background-color: #3e8e41;
}
