@media only screen and (max-width: 600px) {
    .linefirst {
        width: 20%;
    }
    .linetwo {
        width: 30%;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 10px;
}

.logo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #fff;
}

.logo div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linefirst {
    background: #712869;
}

.linetwo {
    background: #345ca7;
}

.logo div:first-child {
    color: #712769;
    height: 33.33%;
    width: 100%;
}

.logo div:nth-child(2) {
    height: 33.34%;
    width: 100%;
}
.logo div:nth-child(3) {
    height: 33.34%;
    width: 100%;
}

.logo div:last-child {
    height: 33.33%;
    width: 100%;
}
